@model TheWorld.ViewModels.ContactViewModel
@{
    ViewBag.Title = "Contact Page";
}
@section scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<h2>Contact Me</h2>

<form method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <label asp-for="Email">Email</label>
        <input type="email" asp-for="Email" />
        <label asp-for="Message">Message</label>
        <textarea cols="40" rows="4" asp-for="Message"></textarea>
    </div>
    <input type="submit" value="Send Message" />
</form>